<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hi.matey.dao.AuthDAO">

	<!-- 이메일 중복 확인(회원가입시) -->
	<select id="isEmailDuplicateSignup" parameterType="string" resultType="int">
	    SELECT 
	        COUNT(email)
	    FROM users
	    WHERE email = #{email}
	</select>

	<insert id="insertUser"  parameterType="kr.hi.matey.vo.UserVO" >
	    INSERT INTO users (
	        email, 
	        password, 
	        nickname;,
	        isTermsAgreed;,
	        isPrivacyAgreed;,
	        isMarketingAgreed;,
	        role )
    	VALUES (
	        #{email},
	        #{password},
	        #{nickname},
	        #{isTermsAgreed},
	        #{isPrivacyAgreed},
	        #{isMarketingAgreed},
	        'USER' )
	</insert>
	
	<select id="findId" parameterType="kr.hi.matey.dto.UserDTO" resultType="string">
		SELECT
			userId
		FROM users
		WHERE name = #{name} AND email = #{email}
	</select>
	
	<!-- 비번 재설정 -->
	<select id="isEmailDuplicatePw" parameterType="kr.hi.matey.vo.UserVO" resultType="boolean">
	    SELECT 
	        email,
        	role
	    FROM users
	    WHERE email = #{email}
	</select>
	
	<select id="findByEmail" parameterType="string" resultType="kr.hi.matey.vo.UserVO">
	    SELECT 
	        email,
	        password;,
        	role
	    FROM users
	    WHERE email = #{email}
	</select>
	
	<update id="updateResetToken" >
		UPDATE  password_reset
		SET reset_token = #{token} 
		WHERE email = #{email};
	</update>
	
	
	<select id="findByResetToken" resultType="kr.hi.matey.util.CustomUser">
	    SELECT 
	        userName,
	        password,
	        role,
	        email,
	        token_expiry_date
	    FROM user
	    WHERE reset_token = #{token}
	</select>
	
	<delete id="deleteTokenByUserId">
    DELETE FROM auto_login WHERE userId = #{userId}
	</delete>
	
	<insert id="insertOrUpdateToken">
    INSERT INTO auto_login (userId, refreshToken, expiryDate)
    VALUES (#{userId}, #{refreshToken}, #{expiryDate})
    ON DUPLICATE KEY UPDATE 
        refreshToken = #{refreshToken},
        expiryDate = #{expiryDate}
	</insert>
	
	<update id="removeAutoLoginToken">
	    UPDATE auto_login 
	    SET refreshToken = #{object} 
	    WHERE userId = #{userId}
	</update>

</mapper>