<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hi.matey.dao.AuthDAO">

	<insert id="insertUser"  parameterType="kr.yeyakhaezo.barodocq.domain.UserDTO" >
	    INSERT INTO users (
	        user_id, user_pw, user_name, user_addr, user_email,
	        user_phone, user_birth, user_gender, user_alert,
	        terms_agreed, location_agreed, role
	    )
	    VALUES (
	        #{user.userId},
	        #{user.password},
	        #{user.name},
	        #{user.addr},
	        #{user.email},
	        #{user.phone},
	        #{user.birth},
	        #{user.gender},
	        #{user.userAlert},
	        #{user.termsAgreed},
	        #{user.locationAgreed},
	        'USER'
	    )
	</insert>
	
	<select id="confirmUser" parameterType="kr.yeyakhaezo.barodocq.domain.UserDTO">
		SELECT 
        user_email, user_password
	    FROM users
	    WHERE user_email = #{user.email} 
	    AND user_pw = #{user.password}
	</select>
	
	<select id="isEmailDuplicate">
		SELECT 
		user_email
		FROM users
	</select>
	
	<update id="updateResetToken">
		UPDATE user_table 
		SET reset_token = #{token} 
		WHERE email = #{email};
	</update>
	
	
	<select id="findByResetToken" resultType="kr.hi.matey.util.CustomUser">
    SELECT 
        userName,
        password,
        role,
        email,
        token_expiry_date
    FROM user
    WHERE reset_token = #{token}
	</select>
	
	<delete id="deleteTokenByUserId">
    DELETE FROM auto_login WHERE userId = #{userId}
	</delete>
	
	<insert id="insertOrUpdateToken">
    INSERT INTO auto_login (userId, refreshToken, expiryDate)
    VALUES (#{userId}, #{refreshToken}, #{expiryDate})
    ON DUPLICATE KEY UPDATE 
        refreshToken = #{refreshToken},
        expiryDate = #{expiryDate}
	</insert>
	
	

</mapper>